<h1>Welcome#contact</h1>
<p>Find me in app/views/welcome/contact.html.erb</p>
<p>Please email us in ___ <i>(insert blank)</i></p>
<p>Feel free to call us at ___<i> (insert blank)</i></p>
<p>Feel free to visit me at... um maybe I shouldn't share where I live</p>
